* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  font-family: 'Archivo', sans-serif;
}

p, span, label, h1 {
  color: #1A202C;
}

aside, section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

aside {
  background-color: #F3FFF2;
}

form {
  max-width: 400px;
  width: 100%;
}

.header p {
  font-size: 1.25rem;
  font-weight: 500;
}

.header h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 12px;
}

.inputs {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inputs > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputs label {
  font-size: 1.125rem;
}

.inputs input {
  padding: 1rem;
  background-color: #F7FAFC;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
  font-size: 1rem;
}

.inputs input::placeholder {
  color: #656769;
  font-size: 1rem;
}

.inputs input:focus {
  outline: none;
  border: 1px solid #1E9E6A;
}


.loginOptions {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.loginOptions > div {
  display: flex;
  gap: 12px;
}

.loginOptions > div label {
  font-weight: 500;
  user-select: none;
  transition: 0.2s;
}

.loginOptions input[type="checkbox"] {
  display: none;
}

.loginOptions input[type="checkbox"] + label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: #F7FAFC;
  border: 1px solid #E8E8E8;
  border-radius: 999px;
  margin-right: 12px;
  vertical-align: middle;
  cursor: pointer;
}

.loginOptions input[type="checkbox"] + label:before {
  content: "\2713"; /*Checkbox icon*/
  font-size: 12px;
  font-weight: 900;
  line-height: 18px;
  color: transparent;
  text-align: center;
}

.loginOptions input[type="checkbox"]:checked + label:before {
  color: #1E9E6A;
}

input[type="checkbox"] + label:hover {
  opacity: 0.9;
}

.loginOptions a {
  color: #1E9E6A;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s;
}

.loginOptions a:hover {
  opacity: 0.9;
  text-decoration: underline;
}

.buttons {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.buttons button {
  padding: 1rem;
  border: none;
  color: #fff;
  border-radius: 4px;
  font-size: 1.125rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Archivo", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.buttons button:first-child {
  background-color: #1E9E6A;
}

.buttons button:last-child {
  background-color: #1A202C;
  padding: 0.875rem 2rem;
}

.buttons button:last-child img {
  height: 24px;
  width: 24px;
}

.buttons button:hover {
  opacity: 0.9;
}

.register {
  margin-top: 64px;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: center;
}

.register a {
  color: #1E9E6A;
  text-decoration: none;
  transition: 0.2s;
}

.register a:hover {
  opacity: 0.9;
  text-decoration: underline;
}